# ============= MISTRAL ========================
MISTRAL_API_KEY=***
# PROTECTION SUR /REBUILD
REBUILD_API_KEY=****
# ============= OPTIONNAL SETTINGS ========================
# Configuration de l'application
MODEL_ID="mistral-small-latest"
EMBEDDING_MODEL="mistral-embed"

# Chemins des fichiers
INPUT_DIR="inputs"
OUTPUT_DIR="vector_db"
FAISS_INDEX_FILE="vector_db/faiss_index.bin"
DOCUMENT_CHUNKS_FILE="vector_db/document_chunks.pkl"
